'scopeName': 'source.apiary'
'name': 'Apiary'
'fileTypes': ['apiary', 'apib']
'patterns': [
  {
    'match': '^#+.*&'
    'name': 'constant'
  }
  {
    'match': '^(\\+|\\*|\\-).*$'
    'name': 'variable'
  }
]
