'scopeName': 'source.apiary'
'name': 'Apiary'
'fileTypes': ['apiary', 'apib']
'patterns': [
  {
    'match': '(\\+|\\*|\\-) (Parameters|Response|Request).*'
    'name': 'variable'
  }
  {
    'match': '#+.*'
    'name': 'constant'
  }
]
